<div class="MainContainer">

  <div class="uIndexHist">
    <h1>Historians</h1>

    <div class="uHisList">
      <ul>
        <% @posts.last(10).each do |post| %>

          <% if @sesh == post.user.id %>
              <li><a href="/posts/<%=post.id %>"><%= post.title.capitalize %></a> <%= post.user.fname.capitalize %> <%= post.user.lname.capitalize %> <br> <%= post.content %></li> <br>
          <% else %>
              <li><a href="/posts/view_user_post/<%=post.id %>"><%= post.title.capitalize %></a> <a href="users/view_user/<%=post.user.id%>"><span id="uInSpan"><%= post.user.fname.capitalize %> <%= post.user.lname.capitalize %></span></a> <br><%= post.content %></li><br>
          <% end %>
        <% end %>
      </ul>
    </div>

  </div>


  <hr>


  <h2>Comments</h2>

  <% @comments.last(20).each do |comment| %>

      <p id="pFeed"> <a href="/posts/view_user_post/<%= comment.post_id %>">&#64;<%= comment.post.title %></a> <%= comment.content %> </p>
  <% end %>

</div>
