<div class="signUpContainer">
    <h1 id="sI">Sign Up</h1>

    <div class="form">
      <%= form_for @user do |f| %>

        <%= f.label "First Name", class: "formLabel" %>
        <%= f.text_field :fname %> <br> <br>

        <%= f.label "Last Name", class: "formLabel" %>
        <%= f.text_field :lname %> <br> <br>

        <%= f.label :password, class: "formLabel" %>
        <%= f.text_field :password %>

        <%= f.submit class: "btn", id: "signUpBtn" %> <br> <br>

      <% end %>
    </div>
</div>
