<h1><%= @user.fname.capitalize %> <%= @user.lname.capitalize %></h1>


<%= form_tag('/users/:id/edit', :method => :get) do %>
  <%= submit_tag "edit account info" %>
<% end %>


<%= form_tag('/users/:id', :method => :delete) do %>
  <%= submit_tag "delete account" %>
<% end %>


<div class="postHistory">

  <h1>Post History</h1>

  <% @user.posts.each do |post| %>

    <div class="postDisplay">

        <p id="pFeed"> <a href="/posts/<%=post.id %>"><%= post.title.capitalize %></a> : <%= post.content %></p>

    </div>

  <% end %>
  </div>


  <div class="commentHistory">

    <h1>Comment History</h1>

    <% @user.comments.each do |post| %>

      <div class="commentDisplay">

        <p id="pFeed"> <%= comment.content %> </p>

  </div>

    <% end %>
</div>
