<div class="MainContainer">
    <%= image_tag("/assets/management-library-icon_RD.png", class: "logo") %>

    <h1 class="mainH1" id="homeH1">Historicity</h1>

    <p id="homeMainP">The largest community of historians devoted to <br> exploring the historicity of any and all topics.</p>

    <div class="signInUp">
      <% if session[:user_id] == nil %>
          <%= form_tag('/session/new', :method => :get) do %>
            <%= submit_tag "sign in", id: "btn1", class: "btn" %>
          <% end %>

          <%= form_tag('/users/new', :method => :get) do %>
            <%= submit_tag "sign up", id: "btn2", class: "btn" %>
          <% end %>
      <% end %>
    </div>

</div>
