<div class="homeMainContainer">
    <h1 class="mainH1">Historicity</h1>

    <%= image_tag("/assets/sphinx-256.png") %>

    <p id="homeMainP">The largest community of historians devoted to exploring the historicity of any and all topics.</p>

    <% if session[:user_id] == nil %>
        <%= form_tag('/session/new', :method => :get) do %>
          <%= submit_tag "sign in", class: "btn" %>
        <% end %>

        <%= form_tag('/users/new', :method => :get) do %>
          <%= submit_tag "sign up", class: "btn" %>
        <% end %>
    <% end %>
</div>
