<div class="signInContainer">

    <h1 id="sI">Publish a Post</h1>

    <div class="form">
        <%= form_for @post do |f| %>

          <%= f.label "Title", class: "formLabel" %>
          <%= f.text_field :title %><br> <br>

          <%= f.label "Content", class: "formLabel" %>
          <%= f.text_field :content %><br> <br>

          <%= f.submit "publish", class: "btn", id: "signInBtn" %>

        <% end %>
    </div>
</div>
