<h1><%= @post.title.capitalize %></h1>

<p><span><%= @post.user.fname.capitalize %> <%= @post.user.lname.capitalize%></span> &mdash; <%= @post.content%></p>


<h2>Comments</h2>
<!-- show comments -->
<% @post.comments.each do |comment| %>
    <h3>
      <%= comment.content %>&mdash;
      <%= comment.user.fname.capitalize%>
      <%= comment.user.lname.capitalize%>
    </h3>
<% end %>


<!-- add comment form -->
<%= form_for(@comment, url: "/posts/view_user_post/#{@post.id}", :method => :post) do |f| %>

  <%= f.label "Comment" %>
  <%= f.text_field :content %>

  <%= f.submit "add"%>

<% end %>
