<!DOCTYPE html>
<html>
  <head>
    <title>Historicity</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

  </head>

  <!-- sign out button -->
  <% if session[:user_id]%>
      <%= form_tag("/session/#{:user_id}", :method => :delete) do %>
        <%= submit_tag "sign out", class: "btn"%>
      <% end %>
  <% end %>

  <% if session[:user_id]%>
      <nav>
          <ul>
            <li><a href="/">home</a></li>
            <li><a href="/users">feed</a></li>
            <li><a href="/users/:id">profile</a></li>
            <li><a href="/posts/new">publish</a></li>
          </ul>
        </nav>
    <% end %>

  <body>
    <%= yield %>
  </body>
</html>
